/** CSS STYLE **/

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Medium.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Neucha;
    src: url(../fonts/Neucha-Regular.ttf );
    font-weight: 400;
}

:root {
    --white: #ffffff;
    --translucent-white: #d7ccc0;
    --light: #f5f4f0;
    --main-light: #fe8a02;
    --main-dark: #42413c;
    --dark: #2a2626;
    --translucent-dark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}

.main-light {
    color: var(--main-light);
}

.dark {
    color: var(--dark);
}

.white {
    color: var(--white);
}

body {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 1.6em;
    color: #2A2626;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Neucha;
    line-height: 1.2em;
    font-weight: 400;
    margin-top: 0;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
    margin-bottom: 23px;
}

h3 {
    font-size: 34px;
}

.btn {
    margin-top: 50px
}

.btn a {
    padding: 12px 24px;
    background: var(--main-light);
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

section {
    width: 1110px;
    text-align: center;
    padding: 100px 0 100px 0;
    margin: 0 auto;
    position: relative;
}

.bg-dark {
    color: var(--white);
}

.bg-light {
    color: var(--dark);
}

.bg-light::before,
.bg-dark::before,
.bg-light::after,
.bg-dark::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1
}

.bg-light::after,
.bg-light::before {
    background: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    background-color: var(--translucent-white);
}

.bg-dark::after {
    background: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
}

.bg-dark::before {
    background-color: var(--brown);
}

header {
    position: relative;
}

header img {
    height: 525px;
    position: absolute;
    top: 55px;
    right: -270px;
    z-index: 1;
}

header h1 {
    text-align: left;
    z-index: 2;
    position: relative;
    top: 7px;
}

header .container {
    padding-top: 140px
}

.container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    text-align: left;
}

.item {
    flex: 1 0 48%;
}

.item div {
    margin-bottom: 15px;
}

.video-block {
    position: relative;
    height: 405px;
}

.video {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
    z-index: 1;
}

#navigation {
    background-color: var(--main-dark);
    position: relative;
    width: 100%;
    padding-bottom: 0;
}

.container-nav {
    display: flex;
    gap: 20px 30px;
    flex-wrap: wrap;
    padding-top: 200px
}

.item-nav {
    flex: 1 1 27%;
}

h2.item-nav {
    text-align: left;
    font-size: 52px;
    padding-top: 5px;
    margin-bottom: 0px
}

div.item-nav {
    background-color: var( --light);
    text-align: left;
    padding-top: 30px;
    padding-bottom: 24px;
}

div.item-nav>* {
    padding-left: 24px;
    padding-right: 24px
}

.number {
    padding-bottom: 40px;
    font-size: 64px;
    font-family: Neucha;
    line-height: 1
}

div.item-nav h3 {
    color: var( --main-light);
    margin: -3px 0 10px 0;
}

.item-nav p {
    margin: 0
}

.full-width {
    width: 100%;
    padding: 0
}

.description-box h4 {
    margin-top: 100px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    text-align: left;
    padding: 5px 10px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
}

.bg-light .description-box h4 {
    background-color: var(--brown);
    color: var(--white);
}

.bg-dark .description-box h4 {
    background-color: var(--white);
    color: var(--brown);
}

.description-box img {
    vertical-align: middle;
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.bg-dark .right-side {
    text-align: right;
}

.description-box {
    text-align: left;
    z-index: 2
}

.width55 {
    width: 55%
}

.width45 {
    width: 45%
}

.left-side {
    float: left;
}

.right-side {
    float: right;
}

.clear {
    clear: both
}

.heading {
    font-size: 24px;
    color: var(--translucent-dark);
    font-family: Neucha;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bg-light .heading {
    color: var(--translucent-dark);
}

.bg-dark .heading {
    color: var(--translucent-white);
}

.desc {
    font-size: 34px;
    font-family: Neucha;
    line-height: 1.2em;
    margin: 0;
}

.bg-form {
    background: var(--main-dark);
    color: var(--white);
    width: 100%
}

.form-section {
    padding: 55px;
    display: flex;
}

.form-section div {
    flex: 1 1 50%
}

.form-section {
    width: 1110px;
    text-align: left
}

input[type=text] {
    padding: 15px;
    width: 70%;
    border: none;
}

button {
    background: var(--main-light);
    color: var(--white);
    width: 70px;
    height: 50px;
    border: none;
    position: relative
}

button::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    background-image: url(../images/send.svg);
    background-repeat: no-repeat;
    background-position: center center;
}